{
  "openapi": "3.1.0",
  "info": {
    "title": "Package Maven API",
    "version": "1.0.0",
    "description": "REST API exposing Package Maven's catalogue of Magento 2 packages, including build/quality test results and categories.\n\n## Authentication\nAll endpoints (except this spec) require a bearer token issued by the Package Maven team:\n\n```\nAuthorization: Bearer <token>\n```\n\nTo request access, contact the Package Maven team.\n\n## Rate limiting\nRequests are rate-limited per client (default 60 requests/minute). Every response carries `X-RateLimit-Limit` and `X-RateLimit-Remaining`; exceeding the limit yields `429` with a `Retry-After` header.\n\n## Caching\nResponses include an `ETag` and `Cache-Control: private, max-age=60`. If you send `If-None-Match` and the content is unchanged, you get an empty `304 Not Modified` instead of the full body — this saves transfer size on your side only; the request is still processed normally on the server and counts toward your rate limit.\n\n## Data ownership, attribution & disclaimer\nAll data referenced through this API is sourced from package-maven.com, operated by Tribound Creative s.r.o. This service aggregates publicly available metadata from GitHub and Packagist, combined with proprietary compatibility and quality testing data generated on our own infrastructure. All third-party package content remains subject to its own original licence as listed on the website, and Tribound Creative s.r.o. claims no ownership over it.\n\nAny use, redistribution, or display of this data — whether via the website or the API — must include clear attribution to package-maven.com as the source, and, when displaying a package, attribution to the package's original Packagist page (provided per package as `links.packagist`).\n\nThe data is provided \"as is\" and \"as available\", without warranty of accuracy, completeness, availability, or fitness for a particular purpose.",
    "contact": {
      "name": "Package Maven",
      "url": "https://package-maven.com"
    }
  },
  "servers": [
    {
      "url": "https://package-maven.com/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/packages": {
      "get": {
        "summary": "List packages",
        "description": "Paginated list of publicly visible packages with categories and quality flags. Supports filtering by quality tier, category and free-text search.",
        "operationId": "listPackages",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "quality",
            "in": "query",
            "description": "Quality tier filter: `top` = Strict Compliant, `noerrors` = No Errors, `works` = Build Works, `help` = Needs Help.",
            "schema": {
              "type": "string",
              "enum": [
                "top",
                "noerrors",
                "works",
                "help"
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category slug (see `/categories`). Unknown slugs return an empty result set.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search over composer name, display name and description.",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field. Prefix with `-` for descending. Default `-latest_release`.",
            "schema": {
              "type": "string",
              "enum": [
                "latest_release",
                "-latest_release",
                "stars",
                "-stars",
                "installs",
                "-installs",
                "open_issues",
                "-open_issues",
                "name",
                "-name",
                "composer_name",
                "-composer_name"
              ],
              "default": "-latest_release"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Items per page (1-100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated package list.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Package"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  },
                  "required": [
                    "data",
                    "links",
                    "meta"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/packages/{vendor}/{package}": {
      "get": {
        "summary": "Get a package",
        "description": "A single package by its composer name (`vendor/package`).",
        "operationId": "getPackage",
        "tags": [
          "Packages"
        ],
        "parameters": [
          {
            "name": "vendor",
            "in": "path",
            "required": true,
            "description": "Composer vendor, e.g. `magento`.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]+$"
            }
          },
          {
            "name": "package",
            "in": "path",
            "required": true,
            "description": "Composer package name, e.g. `module-catalog`.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9._-]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The package.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Package"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "summary": "List categories",
        "description": "All package categories with the count of publicly visible packages in each.",
        "operationId": "listCategories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Category list.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API token issued by the Package Maven team."
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Your per-minute request allowance.",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window.",
        "schema": {
          "type": "integer"
        }
      },
      "ETag": {
        "description": "Entity tag for conditional requests (If-None-Match).",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Package": {
        "type": "object",
        "properties": {
          "composer_name": {
            "type": "string",
            "description": "Composer package identifier (`vendor/package`). Primary key.",
            "examples": [
              "mageos/module-example"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable package name."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "repository_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Source repository URL."
          },
          "license": {
            "type": [
              "string",
              "null"
            ],
            "description": "SPDX license identifier(s) of the latest stable release, comma-separated when dual-licensed (e.g. `OSL-3.0, AFL-3.0`)."
          },
          "abandoned": {
            "type": "object",
            "description": "Packagist abandonment state.",
            "properties": {
              "is_abandoned": {
                "type": "boolean",
                "description": "True when the package is marked abandoned on Packagist."
              },
              "replacement": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Composer name of the suggested replacement package, when the maintainer named one."
              }
            },
            "required": [
              "is_abandoned",
              "replacement"
            ]
          },
          "latest_release": {
            "type": "object",
            "properties": {
              "version": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "date": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO 8601."
              }
            },
            "required": [
              "version",
              "date"
            ]
          },
          "stats": {
            "type": "object",
            "properties": {
              "stars": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "open_issues": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "installs": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "stars",
              "open_issues",
              "installs"
            ]
          },
          "quality": {
            "type": "object",
            "description": "Computed quality flags, identical to the tiers on the website.",
            "properties": {
              "strict_compliant": {
                "type": "boolean",
                "description": "Build works, PHPCS fully passing, PHPStan level >= 8."
              },
              "no_errors": {
                "type": "boolean",
                "description": "Build works, PHPStan passes at least level 0, PHPCS has no errors (warnings allowed)."
              },
              "build_works": {
                "type": "boolean",
                "description": "composer install, DI compile and template compile all pass."
              },
              "needs_help": {
                "type": "boolean",
                "description": "At least one build step explicitly fails."
              }
            },
            "required": [
              "strict_compliant",
              "no_errors",
              "build_works",
              "needs_help"
            ]
          },
          "test_results": {
            "type": "object",
            "description": "Raw automated test outcomes. `null` means not (yet) tested.",
            "properties": {
              "magento_version": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Magento version the package was tested against."
              },
              "package_version": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Package version that was tested."
              },
              "composer_install": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "di_compile": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "template_compile": {
                "type": [
                  "boolean",
                  "null"
                ]
              },
              "phpcs_passed": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "True when PHPCS (Magento coding standard) reports zero errors and zero warnings."
              },
              "phpcs_no_errors": {
                "type": "boolean",
                "description": "True when PHPCS reports no errors (warnings allowed). False when untested — check phpcs_passed for null to distinguish."
              },
              "phpstan_level": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": -1,
                "maximum": 9,
                "description": "Highest PHPStan level (0-9) passing with zero errors. `-1` means the analysis fails even at level 0."
              }
            },
            "required": [
              "magento_version",
              "package_version",
              "composer_install",
              "di_compile",
              "template_compile",
              "phpcs_passed",
              "phpcs_no_errors",
              "phpstan_level"
            ]
          },
          "semver": {
            "type": "object",
            "description": "Semantic-versioning compliance of released versions (checked with semverdict).",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "compliant",
                  "violations",
                  "unknown"
                ],
                "description": "`pending` = not yet checked, `unknown` = check failed."
              },
              "compliance_percent": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0,
                "maximum": 100,
                "description": "Share of checked release pairs without semver violations. `null` until checked."
              }
            },
            "required": [
              "status",
              "compliance_percent"
            ]
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryEmbedded"
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "web": {
                "type": "string",
                "description": "Package page on package-maven.com."
              },
              "packagist": {
                "type": "string",
                "description": "The package's original page on packagist.org — link to it when attributing upstream package metadata."
              }
            },
            "required": [
              "web",
              "packagist"
            ]
          },
          "created_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "updated_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "composer_name",
          "name",
          "description",
          "repository_url",
          "license",
          "abandoned",
          "latest_release",
          "stats",
          "quality",
          "test_results",
          "semver",
          "categories",
          "links",
          "created_at",
          "updated_at"
        ]
      },
      "CategoryEmbedded": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "Use as the `category` filter value on `/packages`."
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "packages_count": {
            "type": "integer",
            "description": "Number of publicly visible packages in this category."
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "description",
          "packages_count"
        ]
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": [
              "string",
              "null"
            ]
          },
          "last": {
            "type": [
              "string",
              "null"
            ]
          },
          "prev": {
            "type": [
              "string",
              "null"
            ]
          },
          "next": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "from": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "to": {
            "type": [
              "integer",
              "null"
            ]
          },
          "total": {
            "type": "integer"
          },
          "path": {
            "type": "string"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "label": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "description": "Present on validation errors: field name to list of messages.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "message"
        ]
      }
    },
    "responses": {
      "Unauthenticated": {
        "description": "Missing or invalid bearer token.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Token lacks the required ability, or the API client is deactivated.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Package not found (or not publicly visible).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid query parameters.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Rate limit exceeded. Check Retry-After.",
        "headers": {
          "Retry-After": {
            "description": "Seconds until the window resets.",
            "schema": {
              "type": "integer"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
